**Peer graded assignment: week 6**

This notebook is about Tools for Data Science course. It is a peer-graded project in week 6

data science languages are mainly:
1. Python
2. R
3. SQL

Data science libraries include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. dplyr
7. stringr
8. ggplot2

A table with data science tools

|Data Management Tools| Data Visualization Tools| Development Environments|
|----| ----|----|
|MySQL| Tableau| Jupyter notebook|
|MongoDB| PowerBI| Rstudio|  
|Apache Hadoop| Cognos Analytics|
|......|.....|

Arithmetic expression examples

Multiplication: 15 * 15 = 225.

Divisio:. 225 / 5 = 45.

Additi:n. 20 + 13 = 33
.
Subtract:on. 33 â€“ 45 = -16 = 10.

In [2]:
#Addition 
5 + 5 

#Multiplication. 
5 * 5

25

In [3]:
def min_to_hr (mins):
    return mins / 60
min_to_hr (120)

2.0

The objectives of this exercize were to
1. Create a Jupyter Notebook with markdown and code cells
2. List examples of languages, libraries and tools used in Data Science
3. Share your Jupyter Notebook publicly on GitHub
4. Evaluate notebooks submitted by your peers using the provided rubric
5. Demonstrate proficiency in Data Science toolkit knowledge

author is frida